@media(max-width: 1400px) {
    /* MainPage */
    .landing__header {
        font-size: 42px;
    }

    .landing__btn {
        height: 55px;
        border-radius: 55px;
        width: 250px;
    }

    /* LoginPage */
    .loginMain__right {
        padding-top: 30px;
    }
}

@media(max-width: 1200px) {
    /* TopMenu */
    .siteMenu__list__img {
        height: 50%;
    }

    /* MainPage */
    .landing_header {
        font-size: 28px;
    }

    .landing__subheader {
        font-size: 16px;
    }
}

@media(max-width: 992px) {
    /* MainPage */
    .landing {
        padding-top: 150px;
    }

    .landing__right {
        margin-bottom: 80px;
    }

    .siteMenu__header a {
        font-size: 32px;
    }

    /* LoginPage */
    .loginMain__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginMain__input {
        width: 100%;
    }

    .button--login {
        margin: 0;
        transform: none;
    }

    /* Add product */
    .numberLabels {
        justify-content: center;
    }

    .label--number {
        width: 49% !important;
    }
}

@media(max-width: 768px) {
    .landing__header {
        font-size: 24px;
    }

    .landing__subheader {
        font-size: 14px;
        margin-bottom: 25px;
    }

    /* Hint section */
    .hintSection {
        padding: 50px 5%;
    }

    .hintSection__header {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .button {
        font-size: 12px;
        height: 40px;
        border-radius: 40px;
    }

    /* Register form */
    .registerForm__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label--register {
        width: 100%;
    }

    .input--register {
        width: 100%;
    }
}

@media(max-width: 576px) {
    /* Register form */
    .registerForm__form {
        width: 90%;
        padding: 40px 20px;
    }

    .formHeader {
        font-size: 32px;
    }

    /* Add product */
    .addProductMain__header {
        font-size: 21px;
    }

    .addProductForm {
        padding: 20px;
    }

    .label--number {
        width: 100% !important;
    }

    .label--number .input {
        width: 100%;
    }
}
