/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

button, a {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s all;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: inherit !important;
    text-decoration: none;
}

input {
    outline: none !important;
}

ul {
    list-style-type: none;
}

.button {
    background: #6C63FF;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: #5A43DE;
}

/* Site menu */
.siteMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.siteMenu__header a {
    font-family: 'Permanent Marker', cursive;
    color: #fff !important;
    font-size: 40px;
    display: block;
}

.siteMenu__header a:hover {
    transform: translateX(20px);
}

.siteMenu__list__img {
    height: 50%;
    width: auto;
}

.siteMenu__list__text {
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    transition: .2s all;
}

.siteMenu__list__item {
    background: transparent;
}

.siteMenu__list__item:hover .siteMenu__list__text {
    transform: translateX(10px);
}

.siteMenu__hamburgerBtn {
    background: transparent;
    width: 50px;
    height: auto;
}

.siteMenu__hamburgerBtn__img {
    width: 100%;
    height: auto;
}

/* Landing page */
.landing {
    width: 90%;
    padding-top: 250px;
}

.landing__img {
    width: 100%;
    height: auto;
}

.landing__header {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.landing__subheader {
    font-weight: 300;
    font-size: 18px;
    max-width: 400px;
    margin-bottom: 50px;
}

.button--landing {
    background: #6C63FF;
    color: #fff;
    width: 320px;
    height: 60px;
    border-radius: 60px;
    text-transform: uppercase;
    font-weight: 700;
}

.button--landing a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff !important;
}

/* Login page */
.loginMain {
    width: 80%;
    padding-top: 200px;
}

.loginMain__img {
    width: 100%;
    height: auto;
}

.loginMain__right {
    padding-top: 100px;
}

.label {
    display: block;
    margin-bottom: 50px;
}

.input {
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #6C63FF;
    width: 75%;
}

.button--login {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    margin-left: calc(75% / 2);
    transform: translateX(-50%);
    display: block;
}

.formHeader--login {
    margin: 0 auto 40px !important;
}

.form__errors--login {
    width: 75%;
}

/* Hint section */
.hintSection {
    width: 100%;
    padding: 80px;
    background: #F4F2F9;
    margin: 50px 0;
}

.hintSection__header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    font-weight: 700;
}

.button--hintSection {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}

.button--hintSection:hover {
    color: #fff !important;
}

/* Register page */
.formHeader {
    font-family: 'Permanent Marker', cursive;
    font-size: 64px;
    text-align: center;
    margin: 100px 0 0;
}

.registerForm__form {
    width: 80%;
    padding: 50px;
    background: #F4F2F9;
    border-radius: 10px;
    margin: 30px auto 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: flex-end;
    flex-wrap: wrap;
}

.label--register {
    width: 80%;
}

.input--register {
    background: transparent;
}

.button--register {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    grid-column: 1 / span 2;
}

.form__errors {
    color: red;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    grid-column: 1 / span 2;
    justify-self: center;
    margin-bottom: 20px;
}

.form__errors span {
    display: block;
}

/* After register */
.afterRegister {
    margin-top: 300px;
}

.afterRegister__header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.button--afterRegister {
    width: 300px;
    height: 60px;
    border-radius: 60px;
    margin: auto;
    display: block;
}

.button--afterRegister a {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dashboard */
.dashboardHeader {
    text-align: center;
    margin: 150px auto 0;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
}

.charts {
    margin: 140px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 1600px;
}

.chartContainer {
    width: 45%;
    height: 500px;
    margin-bottom: 20px;
}

.chartHeader {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

/* Add product */
.addProductMain {
    margin: 200px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addProductMain__header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 50px;
}

.addProductForm {
    width: 80%;
    max-width: 1000px;
    background: #f6f6f6;
    padding: 50px;
    border-radius: 15px;
}

.addProductForm .input {
    background: transparent;
}

.label--addProduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label--addProduct .input {
    text-align: center;
}

select {
    margin-left: 30px !important;
}

.numberLabels {
    margin-top: 100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numberLabels__header {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.label--number {
    width: 24%;
    display: flex;
    justify-content: center;
}

.numberLabels--macro {
    justify-content: center;
}

.numberLabels--macro .label--number {
    width: 30%;
}

.button--addProduct {
    margin: 40px auto;
    padding: 20px 40px;
    height: 50px;
    border-radius: 50px;
}

/* After product insert */
.afterProductInsertMain {
    margin-top: 50vh;
}

.afterProductInsertHeader {
    text-align: center;
}

.button--afterProductInsert {
    margin: 50px auto;
    width: 300px;
    border-radius: 45px;
    padding: 20px 40px;
}

.button--afterProductInsert a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 45px;
}

/* My account */
.mainAccount {
    margin-top: 200px;
}

.mainAccountHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Permanent Marker', cursive;
}

.mainAccountForm {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1600px;
    margin: auto;
}

.label--myAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label--myAccount span {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}

.label--myAccount .input {
    text-align: center;
}

.label--myAccount select {
    margin-left: 0 !important;
}

.button--editMyAccount {
    margin: 40px auto;
    grid-column: 1 / span 2;
    grid-row: 4;
    padding: 20px 40px;
    border-radius: 40px;
}

.myAccountKeyValuePairs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 1600px;
    margin: 50px auto;
}

.keyValuePair {
    width: 45%;
    background: #f6f6f6;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.keyValuePair__key {
    font-size: 15px;
    text-align: center;
}

.keyValuePair__value {
    font-size: 24px;
    text-align: center;
}

/* Add meal */
.label--addMeal {
    white-space: nowrap;
}

.label--addMeal .input {
    margin-left: 30px;
    width: 70px;
}
